
.DS_Store
.ipynb_checkpoints/Create_dataset-checkpoint.ipynb
.ipynb_checkpoints/Plain_Deep_Model-checkpoint.ipynb
Test Notebooks/.ipynb_checkpoints/advi_vanillaNN-checkpoint.ipynb
Test Notebooks/.ipynb_checkpoints/mcDropout_Model-checkpoint.ipynb
merged_data.csv
Test Notebooks/.ipynb_checkpoints/create_features-checkpoint.ipynb
Test Notebooks/create_features.ipynb
Test Notebooks/.ipynb_checkpoints/edward_model-checkpoint.ipynb
Test Notebooks/.ipynb_checkpoints/generate_df-checkpoint.ipynb
*.csv
*.png
*.pdf
*.pyc
*.pyc
BNN_Rec_Sys/__pycache__/create_data.cpython-36.pyc
BNN_Rec_Sys/__pycache__/create_data.cpython-36.pyc
*.model
*.pyc

Test Notebooks/.ipynb_checkpoints/variationalInference-checkpoint.ipynb
Test Notebooks/.ipynb_checkpoints/embedding-checkpoint.ipynb
Test Notebooks/.ipynb_checkpoints/test_dropout-checkpoint.ipynb
Test Notebooks/.ipynb_checkpoints/test_VI-checkpoint.ipynb
